body {
    background-color: darkgray;
}
h1 {
    background-color: darkgreen;
}
.tekst1 {
    background-color: darkorange;
}
h2 {
    background-color: darkorchid;
}
.tekst2 {
    background-color: darkred;
}
ol {
    background-color: darkturquoise;
}